geckodriver.log
pull.log
notes.*
*~
\#*
TAGS

/media
/site_media
.static
static/uploads/*
static/tmp/*

tmp/**
*.tmp
*.bak
tmp/**/*

Thumbs.db
Desktop.ini
.DS_Store

.git
.svn
logs
.logs
logs/marco.log

config/

/data/
data
.data
*.sqlite
res

*,cover
.coverage
.coverage-reports
.scannerwork

*.pyz
.pytest_cache/
__pycache__/

.konsoles
notes.org
.xenv
tools/xenv.sh
*.patch
/Makefile

readme.html
docs/*.html
docs/**/*.html

*keyring*
**/keyring/
**/certs/
.certs
.htpasswd
passwd
**/google/*.json

*.png
*.html
.venv
vars.sh
.tools

.tools

.certs
.htpasswd

**/settings/env.py
**/settings/env.sh

**/settings/**/gnupg
**/settings/**/pgpass
**/settings/**/admin.yaml
**/settings/**/credentials.py

# temporarily ignore migrations
**/apps/**/migrations/*
!**/apps/**/migrations/__init__.py

.vagrant/
.aider*